/* font-size */
.fz1 {
	font-size: var(--fz1);
}
.fz2 {
	font-size: var(--fz2);
}
.fz3 {
	font-size: var(--fz3);
}
.fz4 {
	font-size: var(--fz4);
}
.fz5 {
	font-size: var(--fz5);
}
.fz6 {
	font-size: var(--fz6);
}
.fz7 {
	font-size: var(--fz7);
}
.fz8 {
	font-size: var(--fz8);
}

@media (--breakpoint-sm) {
	.sm-fz1 {
		font-size: var(--fz1);
	}
	.sm-fz2 {
		font-size: var(--fz2);
	}
	.sm-fz3 {
		font-size: var(--fz3);
	}
	.sm-fz4 {
		font-size: var(--fz4);
	}
	.sm-fz5 {
		font-size: var(--fz5);
	}
	.sm-fz6 {
		font-size: var(--fz6);
	}
	.sm-fz7 {
		font-size: var(--fz7);
	}
	.sm-fz8 {
		font-size: var(--fz8);
	}
}

@media (--breakpoint-md) {
	.md-fz1 {
		font-size: var(--fz1);
	}
	.md-fz2 {
		font-size: var(--fz2);
	}
	.md-fz3 {
		font-size: var(--fz3);
	}
	.md-fz4 {
		font-size: var(--fz4);
	}
	.md-fz5 {
		font-size: var(--fz5);
	}
	.md-fz6 {
		font-size: var(--fz6);
	}
	.md-fz7 {
		font-size: var(--fz7);
	}
	.md-fz8 {
		font-size: var(--fz8);
	}
}

@media (--breakpoint-lg) {
	.lg-fz1 {
		font-size: var(--fz1);
	}
	.lg-fz2 {
		font-size: var(--fz2);
	}
	.lg-fz3 {
		font-size: var(--fz3);
	}
	.lg-fz4 {
		font-size: var(--fz4);
	}
	.lg-fz5 {
		font-size: var(--fz5);
	}
	.lg-fz6 {
		font-size: var(--fz6);
	}
	.lg-fz7 {
		font-size: var(--fz7);
	}
	.lg-fz8 {
		font-size: var(--fz8);
	}
}