.lh50 {
	line-height: 50px;
}
.lh100 {
	line-height: 100px;
}
.lh150 {
	line-height: 150px;
}

@media (--breakpoint-sm) {
	.sm-lh50 {
		line-height: 50px;
	}
	.sm-lh100 {
		line-height: 100px;
	}
	.sm-lh150 {
		line-height: 150px;
	}
}

@media (--breakpoint-md) {
	.md-lh50 {
		line-height: 50px;
	}
	.md-lh100 {
		line-height: 100px;
	}
	.md-lh150 {
		line-height: 150px;
	}
}

@media (--breakpoint-lg) {
	.lg-lh50 {
		line-height: 50px;
	}
	.lg-lh100 {
		line-height: 100px;
	}
	.lg-lh150 {
		line-height: 150px;
	}
}