@import 'sanitize.css';
@import 'base.css';
@import 'modules/font-size.css';
@import 'modules/font-weight.css';
@import 'modules/size.css';
@import 'modules/line-height.css';

:root {
	--main-color: #000000;
    --inverse-color: #FFFFFF;

    --fz1: 1rem;
    --fz2: 1.25rem;
    --fz3: 1.5rem;
    --fz4: 2rem;
    --fz5: 2.25rem;
    --fz6: 2.5rem;
    --fz7: 2.75rem;
    --fz8: 3rem;
};

::selection{
    background-color: var(--main-color);
    color: var(--inverse-color);
    text-shadow: none;
}

body {
    font-family: 'Open Sans';
}

.uppercase {
    text-transform: uppercase;
}

.border-bottom {
    border-bottom: 0.1em solid var(--main-color);
}