@import 'sanitize.css';
@import 'base.css';
@import 'modules/font-size.css';
@import 'modules/size.css';
@import 'modules/line-height.css';

:root {
	--main-color: black;

    --fz1: 1rem;
    --fz2: 1.25rem;
    --fz3: 1.5rem;
    --fz4: 2rem;
    --fz5: 2.25rem;
    --fz6: 2.5rem;
    --fz7: 2.75rem;
    --fz8: 3rem;
};

body {
    font-family: 'Open Sans';
}

a, a:link, a:hover, a:active, a:visited {
	color: var(--main-color);
}